@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --black-logo: #0b0101;
  --color-font: #ffffff;
  --linear-gradiant: linear-gradient(
    rgba(0, 0, 0, 0.895),
    rgba(0, 0, 0, 0.073)
  );
  --linear-gr-header: linear-gradient(
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1)
  );
  --text-neon: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

body {
  font-family: "Dancing Script", cursive;
  background-image: var(--linear-gradiant), url("../img/bg-main.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* header start */
.container {
  width: 85%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  background-image: var(--linear-gr-header), url("../img/coffee-header-min.jpg");
  height: 100vh;
  padding: 2.5em 0;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-font);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-shadow: var(--text-neon);
}

header nav ul {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  gap: 2em;
}

header nav .logo {
  font-size: 3rem;
  font-weight: 500;
  border: 1px white solid;
  margin-right: auto;
  animation: flicker 3s infinite alternate;
}

header nav .logo span {
  background-color: var(--color-font);
  color: var(--black-logo);
}
header .info {
  margin-top: 5em;
}

header .info h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 2.3em;
  margin-left: 1.5em;
  text-transform: capitalize;
  text-shadow: var(--text-neon);
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: var(--text-neon);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

header .info h2 {
  font-size: 2rem;
  margin-left: 20em;
  padding-top: 1rem;
  color: #fff;
  text-shadow: var(--text-neon);
}

.pg-title,
.pg-title-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #fff;
  text-shadow: var(--text-neon);
  height: 50vh;
  width: 100%;
  margin-top: 2.5em;
}

/* header end */

/* main starts */

/* section product starts  */

.pro-sec {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  margin-top: 10em;
}
.pro-sec div {
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-font);
}
.pro-sec h3 {
  font-size: 2rem;
  margin-top: 0.5em;
  text-shadow: var(--text-neon);
}

.pro-sec p {
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.5;
  transition: opacity 1s;
  transition: height 3s;
  width: 100%;
  height: 20vh;
  background-color: rgba(5, 0, 0, 0.5);
  padding: 1em;
  overflow: hidden;
}

.pro-sec p:hover {
  opacity: 1;
  height: 100vh;
}

.pro-sec .img-1,
.pro-sec .img-2,
.pro-sec .img-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img-1 {
  background-image: var(--linear-gradiant), url("../img/menu-min.jpg");
}

.img-2 {
  background-image: var(--linear-gradiant), url("../img/qulity-min.jpg");
}
.img-3 {
  background-image: var(--linear-gradiant), url("../img/friends-min.jpg");
}

/* section product ends  */

/* section services starts  */

.serv-sec,
.serv-sec-one {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.content-text {
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  overflow: auto;
  padding-top: 6em;
  color: var(--color-font);
  overflow: hidden;
  transition: width ease-in-out 3s;
}

.content-text p {
  padding: 1em;
  text-align: center;
}

.img-service,
.img-service-one {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.img-service {
  background-image: url("../img/bar-min.jpg");
}
.img-service-one {
  background-image: url("../img/coffe-shop.jpg");
}

.serv-sec {
  margin-top: 10em;
}
.serv-sec-one {
  justify-content: flex;
}

/* section product ends  */

/* main ends  */

/* footer starts  */
footer {
  width: 100%;
  margin-top: 10em;
  background-image: var(--linear-gradiant);
}

.footer-container i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.541);
  text-shadow: var(--text-neon);
}

.footer-container a {
  transition: 3s;
}

.footer-container a:hover {
  transform: rotateY(360deg);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 8em;
}

/* footer ends  */

/* responsive  */

/* header responsive starts */

@media (min-width: 768px) {
  header nav {
    flex-direction: row;
    align-items: center;
    gap: 2.5em;
  }
  header .info h1 {
    font-size: 4rem;
  }

  header .info h2 {
    font-size: 1.5rem;
    margin-left: 60%;
    margin-top: -1rem;
  }
}

@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }
  header .info h1 {
    font-size: 2.5rem;
  }

  header nav ul {
    margin-top: 2em;
  }

  header .info h2 {
    font-size: 0.9rem;
    margin-left: 30em;
    margin-top: -1rem;
  }
  header nav .logo {
    margin: 0;
  }
}

@media (max-width: 600px) {
  header nav {
    flex-direction: column;
  }
  header .info h1 {
    font-size: 2rem;
    margin-top: 5em;
  }
  header .info h2 {
    font-size: 1.3rem;
    margin-left: 6em;
    margin-top: 6em;
  }
  header nav ul {
    display: none;
  }
  .pro-sec {
    justify-content: space-between;
  }
  .pro-sec .img-1,
  .pro-sec .img-2,
  .pro-sec .img-3 {
    height: 100vh;
    width: 100%;
  }
  .serv-sec {
    flex-wrap: wrap;
    margin-top: 20em;
  }
  .serv-sec-one {
    flex-wrap: wrap;
    margin-top: 30em;
  }
  footer {
    padding-top: 25em;
  }
  .pg-title {
    font-size: 2rem;
  }
  .service .pg-title {
    padding-top: 17em;
  }
  .product .pg-title {
    margin-top: 1em;
    margin-bottom: -6em;
  }
}

/* header responsive ends */

/* container responsive starts */

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1200px;
  }
}
/* container responsive ends */

/* end responsive */
